@import './variables.scss';

.carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    
    .track {
        height: 100%;

        .container {
            height: 100%;
        }
    }
}

.imagen {
    height: 30%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.item-heading {
    padding: $padding $padding-extra;

    .color-primary {
        width: 75%;
        margin-left: $margin-small;
    }
}

.item-content {
    padding: 0 2em;
}

.indicators {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: transparent;
    bottom: 0;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        border: 2px $cta solid;
        outline: none;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }
}