@import './variables.scss';

.home-header-banner {
    height: 90vh;
    padding: $padding-extra $padding;
    border-bottom: 10px $text-dark solid;
}

.expertise-section {
    height: 55vh;
}

@media screen and (min-width: $grid-small-breakpoint) {
    .expertise-section {
        height: 30vh;
        .h-70 {
            padding-top: 0 !important;
            .text-reversed {
                text-align: center !important;
            }
        }
    }
}

@media screen and (min-width: $grid-medium-breakpoint) {
    .expertise-section {
        height: 40vh;
    }
}
