@import './variables.scss';

.icons-settings {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin: auto;
}

@mixin icons-size($size1, $size2) {
	width: $size1;
	height: $size2;
	background-size: $size1 $size2;
}

.menu-icon {
    @extend .icons-settings;
	background: url(../../static/assets/menu.png);
	@include icons-size(25px, 15px);
}
