@import './variables.scss';

.toggle-menu {
    position: absolute;
    right: 3%;
    top: 35%;
    bottom: 35%;
}

.logo {
    margin: 0 auto;
}

.navbar-section {
    top: 0;
    padding: 1em 1em 0 1em;
    background-color: $primary;
}

.nav-menu {
    position: absolute;
	left: 0;
    width: 100vw;
    padding: 2em 0;
    height: 100vh;
    background-color: rgba($color: $primary, $alpha: 1);
    z-index: 1;
    transition: 0.3s ease all;
    &.close {
        left: -100vw;
    }

    .menu {
        transition: 0.3s ease all;
        opacity: 1;
        transform: scale(1);
        position: absolute;
        height: 100%;
        width: 100%;
        &.out {
            transform: translateX(-100%);
        }
    }

    .menu-item {
        color: $white;
        font-weight: 600;
        padding: 1em;
        margin: 0 2em;
        border-bottom: 1px #F26D6D solid;

        a {
            color: $white;
            font-weight: 600;
        }
    }
}

/*Desktop styles*/
@media screen and (min-width: $grid-medium-breakpoint) {
    .logo {
        margin: 0 !important;
    }
}
