@import './variables.scss';

.toggle-menu {
    position: absolute;
    left: 3%;
    top: 30%;
    bottom: 35%;
}

.logo {
    margin: 0 auto;
}

.navbar-section {
    border-bottom: 1px $text-dark-light solid;
    padding: 1em 0 0 0;
}

.nav-over-hide {
    width: 100%;
    background:#03658C;
    height: 0px;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    overflow: hidden;
    margin-top: 1em;

    &.show {
        height: 100px !important;
    }
}

.nav-menu {
    padding: 0 1em 0 1em;
    position: absolute;
	left: 0;
	width: 100vw;
    height: 75vh;
    background-color: rgba($color: $primary-dark, $alpha: 0.8);
    z-index: 1;
    transition: 0.3s ease all;
    &.close {
        left: -100vw;
    }

    .menu {
        transition: 0.3s ease all;
        opacity: 1;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        &.out {
            transform: translateX(-100%);
            overflow: hidden;
            width: 0;
        }
    }

    .submenu {
        transition: 0.3s ease all;
        opacity: 1;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;

        &.out {
            transform: translateX(100%);
            overflow: hidden;
            width: 0;
        }
    }

    .slide-out {
        transition: 0.3s ease all;
        transform: scale(0.3);
        opacity: 0;
        max-height: 0;
    }
    
    .menu-item {
        color: $white;
        font-weight: 600;
        padding: 1em;
        margin: 0 1em;
        border-bottom: 1px #F26D6D solid;

        a {
            color: $white;
            font-weight: 600;
        }
    }
}

/*Desktop styles*/
@media screen and (min-width: $grid-medium-breakpoint) {
    .logo {
        margin: 0 !important;
    }
}
