@import './variables.scss';

.service-header {
    height: 25vh;
    justify-content: flex-end;
}

.offers-tabs {
    border: $cta 1px solid;
    line-height: 2 !important;
    color: $cta;
    display: inline-block;
    width: 33%;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    &:nth-child(2) {
        margin: 0 1px;
    }

    &.selected {
        background-color: $cta;
        color: white;
        padding-top: 5px;
        line-height: 2.2 !important;
    }
}

.service-list {
    border: $cta 1px solid;

    .service-list-heading {
        border-bottom: $cta 1px solid;
    }

    .list-item-selectable {
        color: #ccc;
        
        &.available {
            color: $text-dark !important;
        }

        .input {
            margin-left: 0 !important;
            margin-right: $margin-small;

            &::placeholder {
                color: $text-dark !important;
            }
        }
    }

    .list-items {
        color: #ccc;
        padding-left: 1.25em;

        &::before {
            display: block;
            position: absolute;
            text-indent: -9999px;
            content: '';
            width: 35px;
            height: 35px;
            background-image: url(../../static/assets/x-icon.svg);
            background-size: 35px 35px;
            margin-left: -($padding-extra);
            margin-top: -0.25em;
        }

        &.available {
            color: $text-dark !important;

            &::before {
                background-image: url(../../static/assets/check-mark.svg) !important;
            }
        }
    }
}

@media screen and (min-width: $grid-small-breakpoint) {
    .service-header {
        justify-content: center;
    }
}