@import './variables.scss';
/*General styles*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

/*layout*/
.relative {
  position: relative;
}

.flex {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

.w-1 {
  flex-basis: 100%;
  max-width: 100%;
}

.w-2 {
  flex-basis: 50%;
  max-width: 50%;
}

.w-3 {
  flex-basis: 33%;
  max-width: 33%;
}

.w-4 {
  flex-basis: 25%;
  max-width: 25%;
}

.w-5 {
  flex-basis: 20%;
  max-width: 20%;
}

/*margings and padings*/
.margin-small {
  margin: $margin-small;
}

.m-auto {
  margin: 0 auto;
}

.padding-small {
  padding: $padding-small;
}

.padding {
  padding: $padding;
}

/*buttons*/
.button {
  background: transparent;
  border: none;
}

/*fonts*/
.text-center {
  text-align: center;
}

/*Mobile styles*/
@media screen and (max-width: $grid-medium-breakpoint) {
  .hide-mobile {
    display: none;
  }
}

/*Desktop styles*/
@media screen and (min-width: $grid-medium-breakpoint) {
  .hide-desktop {
    display: none;
  }
}
